<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911693619729-7pk425kd6388a3bk7cb1hd9n2u552sgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911693619729-7pk425kd6388a3bk7cb1hd9n2u552sgo</string>
	<key>API_KEY</key>
	<string>AIzaSyBDdh3c5NqJ_-3fjxLZ1GnHplcdixcFMzk</string>
	<key>GCM_SENDER_ID</key>
	<string>911693619729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.nco.MiniChat</string>
	<key>PROJECT_ID</key>
	<string>minichat-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>minichat-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911693619729:ios:200a853814bf18362d87b0</string>
	<key>DATABASE_URL</key>
	<string>https://minichat-ios.firebaseio.com</string>
</dict>
</plist>